<h1>Instafame</h1>

<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6">
      <% if current_user %>
        <%= link_to '+ New Post', new_post_path, class:"btn btn-light w-100 my-3 link-dark text-decoration-none" %>
      <% end %>
    </div>
  </div>

  <%= render 'posts/all_posts' %>
</div>
